<html ng-app="admin">
<head>
  <title>Admin curricula unifi</title>
  <meta charset="utf-8">
    <!-- my css -->
  <link rel="stylesheet" href="../css/style.css" >
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

</head>

<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
   <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#curriculum">Curricula</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#group">Groups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#course">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#academicyear">Academic years</a>
    </li>
  </ul>
</nav>

<ng-view></ng-view>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js"></script>

<script type="text/ng-template" id="/home.html">
<div class="container">
  <div class="row">
    <label id="curriculum">Curriculum:</label>
    <select ng-model="curriculum" class="custom-select" id="curriculum"> 
      <option ng-repeat="x in curricula" value="{{x.id}}">
      {{x.title}} 
      </option>
    </select>
  </div>
  <br>
  <div class="row">
    <input type="button" value="view detail" ng-click="getCurriculumCourses()" class="btn btn-outline-info btn-block">
    <span class="error"> {{status}}</span>
  </div>
  <div class="row">
    <ul class="list-group col">
    <h4> <a href="#/curriculum/view/{{curriculumcourses.curriculum.id}}"> {{curriculumcourses.curriculum.title}} </a> </h4>  
      <li ng-repeat="g in curriculumcourses.groups" class="list-group-item list-group-flush">  
      <h4> <a href="#/group/view/{{g.id}}">  {{g.name}} </a> ( scegli {{g.n}} corsi da {{g.cfu}} cfu )  </h4>
        <table  class="table table-bordered">
          <tr>
            <th>Code</th> <th>Name</th> <th>CFU</th>
          </tr>
          <tr ng-repeat="c in g.courses">
            <td class="smallcell"> {{c.id}} </td>
            <td class="bigcell"> {{c.name}} </td>
            <td class="smallcell"> {{c.cfu}}</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

</div>
</script>
<script type="text/ng-template" id="/curriculum.html">
<div class="container">
  <h2>Curriculum management</h2>
  
  <form class="row"> 
    <input type="button" ng-click="createCurriculum()" value="create" class="col-sm-2 btn btn-outline-success"> 
  </form>

  <div class="row">
  <p class="error"> {{status}} </p>
  </div>

  <table class="table table-bordered">
    <tr>
      <th style="text-align:left">Curriculum title</th> <th>a.a</th> <th></th> <th></th> <th></th>
    </tr>
    <tr ng-repeat="x in curricula track by $index">
      <td class="bigcell"> {{x.title}} </td>
      <td class="smallcell"> {{x.ac}} </td>

      <td> <input type="button" ng-click="viewCurriculum(x.id)" value="read"     class="btn btn-outline-info">  </td>     
      <td> <input type="button" ng-click="updateCurriculum(x.id)" value="update" class="btn btn-outline-warning">  </td>
      <td> <input type="button" ng-click="deleteCurriculum(x.id)" value="delete" class="btn btn-outline-danger">  </td>
    </tr>
  </table>

</div>
</script>
<!--
    <table class="table table-bordered">
    <tr>
      <th style="text-align:left">Group name</th> <th>Number of courses</th> <th>CFU / course</th>
    </tr>
    <tr ng-repeat="g in curriculum.groups">
      <td class="bigcell"> <a href="#/group/view/{{g.id}}"> {{g.name}} </a> </td>
      <td class="smallcell"> {{g.n}} </td>
      <td class="smallcell"> {{g.cfu}}</td>
    </tr>
  </table>

-->
<script type="text/ng-template" id="/viewcurriculum.html">
<div class="container"><br>
  <h2> {{curriculum.title}} </h2>

  <div class="row">
    <ul class="list-group col">
    <h4> <a href="#/curriculum/view/{{curriculumcourses.curriculum.id}}"> {{curriculumcourses.curriculum.title}} </a> </h4>  
      <li ng-repeat="g in curriculumcourses.groups" class="list-group-item list-group-flush">  
      <h4> <a href="#/group/view/{{g.id}}">  {{g.name}} </a> ( scegli {{g.n}} corsi da {{g.cfu}} cfu )  </h4>
        <table  class="table table-bordered">
          <tr>
            <th>Code</th> <th>Name</th> <th>CFU</th>
          </tr>
          <tr ng-repeat="c in g.courses">
            <td class="smallcell"> {{c.id}} </td>
            <td class="bigcell"> {{c.name}} </td>
            <td class="smallcell"> {{c.cfu}}</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col">
      <input type="button" value="modify" ng-click="updateCurriculum()" class="btn btn-outline-primary col" style="float:right">
    </div>
    <div class="col">
      <a href="#/curriculum"><input type="button" value="back" class="btn btn-outline-secondary col"></a>
    </div>
  </div>

  <div class="row">
    <p class="error"> {{status}}</p>
  </div>

</div>

</script>
<!--    -->
<script type="text/ng-template" id="/createcurriculum.html">
<div class="container"><br>

  <form class="form-row">
    <legend> Create new curriculum </legend>
    <label  class="form-group col-md-2" for="title"> Title: </label>
    <input  class="form-group col-md-10" type="text" ng-model="curriculum.title" id="title"> 
    <br>
    <label  class="form-group col-md-2" for="description"> Description: </label>
    <textarea  class="form-group col-md-10" ng-model="curriculum.desc" rows="5" id="description"></textarea> 
    <br>
    <label class="form-group col-md-2" for="academiyear"> Academic year: </label> 
     <select ng-model="curriculum.ac" class="form-group col-md-10 custom-select" id="academicyear">  
        <option ng-repeat="x in academicyears" value="{{x.id}}"> 
         {{x.id}}
        </option>
    </select>
  </form>

  <table class="table table-bordered">
    <tr>
      <th></th><th>Name</th><th>Courses number</th><th>CFU / course</th>
    </tr>
    <tr ng-repeat="g in groups">  
      <td class="picocell"> <input type="checkbox" ng-model="checkedgroups[g.id]"> </td>
      <td class="bigcell"> {{g.name}} </td>
      <td class="smallcell"> {{g.n}} </td>
      <td class="smallcell"> {{g.cfu}} </td>
    </tr>
  </table>

  <div class="row">
    <div class="col">
      <a href="#/curriculum"><input type="button" value="back" class="btn btn-outline-secondary col"></a>
    </div>
    <div class="col">
        <input type="button" value="save" ng-click="setCurriculum()" class="btn btn-outline-success col" style="float:right">
    </div>
  </div>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

</div>
</script>

<script type="text/ng-template" id="/updatecurriculum.html">
<div class="container"><br>
  <h2> {{curriculum.title}} </h2>

  <form class="form-row">
    <legend> Create new curriculum </legend>
    <label  class="form-group col-md-2" for="title"> Title: </label>
    <input  class="form-group col-md-10" type="text" ng-model="curriculum.title" id="title"> 
    <br>
    <label  class="form-group col-md-2" for="description"> Description: </label>
    <textarea  class="form-group col-md-10" ng-model="curriculum.desc" rows="5" id="description"></textarea> 
    <br>
    <label class="form-group col-md-2" for="academiyear"> Academic year: </label> 
     <select ng-model="curriculum.ac" class="form-group col-md-10 custom-select" id="academicyear">  
        <option ng-repeat="x in academicyears" value="{{x.id}}"> 
         {{x.id}}
        </option>
    </select>
  </form>

  <table class="table table-bordered">
    <tr>
      <th></th><th>Name</th><th>Courses number</th><th>CFU / course</th>
    </tr>
    <tr ng-repeat="g in groups">  
      <td class="picocell"> <input type="checkbox" ng-model="checkedgroups[g.id]"> </td>
      <td class="bigcell"> {{g.name}} </td>
      <td class="smallcell"> {{g.n}} </td>
      <td class="smallcell"> {{g.cfu}} </td>
    </tr>
  </table>

  <div class="row">
    <div class="col">
      <a href="#/curriculum"><input type="button" value="back" class="btn btn-outline-secondary col"></a>
    </div>
    <div class="col">
      <input type="button" value="save" ng-click="updateCurriculum()" class="btn btn-outline-success col" style="float:right">
    </div>
  </div>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

</div>
</script>

<script type="text/ng-template" id="/group.html">
<div class="container">
  <h2> Group management </h2>


  <form class="row"> 
    <input type="button" ng-click="createGroup()" value="create" class="col-sm-2 btn btn-outline-success"> 
  </form>


  <table class="table table-bordered">

    <tr>
      <th> Group ID </th>
      <th> name </th>
      <th> N courses</th>
      <th> CFU </th>
    </tr>

    <tr ng-repeat="x in groups">
      <td> {{x.id}} </td>
      <td> {{x.name}}</td>
      <td> {{x.n}} </td>
      <td> {{x.cfu}} </td>
      <td> <input type="button" ng-click="viewGroup(x.id)" value="read" class="btn btn-outline-info">  </td>
      <td> <input type="button" ng-click="updateGroup(x.id)" value="update" class="btn btn-outline-warning">  </td>
      <td> <input type="button" ng-click="deleteGroup(x.id)" value="delete" class="btn btn-outline-danger">  </td>

  </table>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

</div>
</script>
<script type="text/ng-template" id="/viewgroup.html">
<div class="container"><br>
  <h2> {{group.name}} </h2>

  <table  class="table table-bordered">
    <tr>
      <th>Code</th> <th style="text-align:left">Name</th> <th>CFU</th>
    </tr>
    <tr ng-repeat="c in group.courses">
      <td class="smallcell"> {{c.id}} </td>
      <td class="bigcell"> {{c.name}} </td>
      <td class="smallcell"> {{c.cfu}}</td>  
    </tr>
  </table>

  <div class="row">
    <div class="col">
      <input type="button" value="modify" ng-click="updateGroup(group.id)" class="btn btn-outline-primary col" style="float:right">
    </div>
    <div class="col">
     <a href="#/group"> <input type="button" value="back" class="btn btn-outline-secondary col"> </a>
    </div>
  </div>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

</div>
</script>

<script type="text/ng-template" id="/updategroup.html">
<div class="container">

  <h2> {{group.name}} </h2>

  <form class="form-row">    
    <legend> Update group data: </legend> 
    <br> 
    <label class="form-group col-md-3"> Group name:  </label>
    <input class="form-group col-md-9" type="string" ng-model="group.name">
    <br>
    <label class="form-group col-md-3" for="ncourse"> Number of courses in this group:  </label>
    <div class="form-group col-md-9">
     <input type="number" ng-model="group.n" min="1" max="11" step="1"  id="ncourse" >
    </div>
    <br>
    <label class="form-group col-md-3"  for="cfu"> Cfu per course:  </label>
    <div class="form-group col-md-9">
      <input type="number" ng-model="group.cfu" min="6" max="9" step="3" id="cfu"> 
    </div>
  </form>

  <table  class="table table-bordered">
    <tr>
      <th> </th> <th> Code </th> <th style="text-align:left"> Name </th> <th> CFU </th>
    </tr>
    <tr ng-repeat="c in courses">  
      <td class="picocell"> <input type="checkbox" ng-model="checkedcourses[c.id]"> </td>
      <td class="smallcell"> {{c.id}} </td>
      <td class="bigcell"> {{c.name}} </td>
      <td class="smallcell"> {{c.cfu}} </td>
    </tr>
  </table>

  <div class="row">
    <div class="col">
        <a href="#/group"> <input type="button" value="back" class="btn  btn-outline-secondary col"> </a>
    </div>
    <div class="col">
      <input type="button" value="save" ng-click="updateGroup()" class="btn btn-outline-success col" style="float:right">
    </div>
  </div>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

</div>
</script>
<script type="text/ng-template" id="/creategroup.html">
<div class="container"><br>

  <h2> Group management </h2>
  <form class="form-row">    
    <legend> Create new group: </legend> 
    <br> 
    <label class="form-group col-md-3"> Group name:  </label>
    <input class="form-group col-md-9" type="string" ng-model="group.name">
    <br>
    <label class="form-group col-md-3" for="ncourse"> Number of courses in this group:  </label>
    <div class="form-group col-md-9">
     <input type="number" ng-model="group.n" min="1" max="11" step="1"  id="ncourse" >
    </div>
    <br>
    <label class="form-group col-md-3"  for="cfu"> Cfu per course:  </label>
    <div class="form-group col-md-9">
      <input type="number" ng-model="group.cfu" min="6" max="9" step="3" id="cfu"> 
    </div>
  </form>

  <table  class="table table-bordered">
    <tr>
      <th> </th> <th> Code </th> <th style="text-align:left"> Name </th> <th> CFU </th>
    </tr>
    <tr ng-repeat="c in courses">  
      <td class="picocell"> <input type="checkbox" ng-model="checkedcourses[c.id]"> </td>
      <td class="smallcell"> {{c.id}} </td>
      <td class="bigcell"> {{c.name}} </td>
      <td class="smallcell"> {{c.cfu}} </td>
    </tr>
  </table>

  <div class="row">
    <div class="col">
      <input type="button" value="Home" ng-click="goHome()" class="btn  btn-outline-secondary col">
    </div>
    <div class="col">
      <input type="button" value="Save group" ng-click="setGroup()" class="btn btn-outline-success col" style="float:right">
    </div> 
  </div>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

</div>
</script>

<!--  form-control-sm mb-2 mr-sm-4"-->

<script type="text/ng-template" id="/course.html">
<div class="container">

<h2>Manage courses </h2>

  <form>
    <legend>Create new course:</legend>
    <div class="row">

      <label for="codeid" class="col-sm-1">  Code: </label>
      <input type="text" ng-model="course.id" class="form-control col-sm-2">

      <label for="nameid" class="col-sm-1">  Name: </label>
      <input type="text" ng-model="course.name" class="form-control col-sm-8">

    </div>
    <br>
    <div class="row">

      <label for="cfuid" class="col-sm-1">  CFU: </label>
      <input type="number" ng-model="course.cfu"  min="3" max="12" step="3" class="form-control  col-sm-2">

      <label for="ssdid" class="col-sm-1">  SSD:  </label>
      <select ng-model="course.ssd"  class="custom-select col-sm-2">  
        <option value="ING-INF/05"> ING-INF/05 </option>
        <option value="ING-INF/04"> ING-INF/04 </option>
        <option value="ING-INF/03"> ING-INF/03 </option>
        <option value="ING-INF/01"> ING-INF/01 </option>
        <option value="MAT/08"> MAT/08 </option>
        <option value="MAT/09"> MAT/09 </option>
        <option value="INF/01"> INF/01 </option>
      </select>

      <label for="yearid" class="col-sm-1"> Year: </label>
      <input type="number" ng-model="course.year"  min="0" max="2" step="1" class="form-control col-sm-2">

      <label for="semesterid" class="col-sm-1"> Semester:  </label>
      <input type="number" ng-model="course.semester"  min="0" max="2" step="1" class="form-control col-sm-2">

    </div>
    <br>
    <div class="row">

      <label for="acid" class="col-sm-1">  A.A: </label>
       <select ng-model="course.ac" class="custom-select col-sm-2">  
          <option ng-repeat="x in academicyears.academicyears" value="{{x.id}}"> 
           {{x.id}}
          </option>
      </select>

      <label for="urlid" class="col-sm-1">  URL: </label>
      <input type="text" ng-model="course.url" class="form-control col-sm-8" id="urlid">

    </div>
    <br>
    <div class="row">
      <span class="col-sm-4"></span>
      <input type="button" value="add course" ng-click="setCourse()" class="btn btn-outline-success col-sm-8"/>
    </div>
  </form>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

  <p> Search: <input type="text" ng-model="search.id"/> </p>
  <table class="table table-bordered">
    <tr>
      <th>code</th>
      <th>name</th>
      <th>cfu</th>
      <th>ssd</th>
      <th>ac</th>
      <th>year</th>
      <th>semester</th>
      <th>url</th>
    </tr>
    <tr  ng-repeat="x in courses.courses | filter: search | orderBy: 'name' ">
      <td> {{x.id}} </td>
      <td> {{x.name}} </td>
      <td> {{x.cfu}} </td>
      <td> {{x.ssd}}  </td>
      <td> {{x.ac}} </td>
      <td> {{x.year}} </td> 
      <td> {{x.semester}}  </td>
      <td> <a href="{{x.url}}" target="_blank"> {{x.url}} </a> </td>
      <td> <input type="button" value="update course" ng-click="updateCourse(x.id)" class="btn btn-outline-info"></td>
      <td> <input type="button" value="delete course" ng-click="deleteCourse(x.id)" class="btn btn-outline-danger"></td>
    </tr>
  </table>
</script>
<script type="text/ng-template" id="/academicyear.html">
<div class="container">

<h2> Manage academic year </h2>

  <form>
    <legend>Create new academic year:</legend>
    <br>
    <div class="row">

      <label for="acid" class="col-sm-2">  Academic year: </label>
      <input type="string" ng-model="academicyear.id" placeholder="2018-2019" id="acid" class="col-sm-2">

      <label for="start" class="col-sm-1">  start: </label>
      <input type="date" ng-model="academicyear.start" id="start" class="col-sm-3">

      <label for="end" class="col-sm-1">  end: </label>
      <input type="date" ng-model="academicyear.end" id="end" class="col-sm-3">
    </div>
    <br>
    <div class="row">
      <span class="col-sm-9"></span>
      <input type="button" value="add academic year" ng-click="setAcademicyear()" class="btn btn-outline-success col-sm-3">
    </div>
  </form>

  <div class="row">
  <p class="error"> {{status}}</p>
  </div>

  <table class="table table-bordered">
    <tr>
      <tr>
        <th> id </th> <th> start </th> <th> end </th> 
      </tr>
      <tr  ng-repeat="x in academicyears">
        <td> {{x.id}}  </td>
        <td> {{x.start}}   </td>
        <td> {{x.end}}  </td>
        <td> <input type="button" ng-click="updateAcademicyear(x.id)" value="update" class="btn btn-outline-info"> </td>
        <td> <input type="button" ng-click="deleteAcademicyear(x.id)" value="delete" class="btn btn-outline-danger">  </td>
    </tr>
  </table>
</div>
</script>
<!--https://weblogs.asp.net/dwahlin/using-an-angularjs-factory-to-interact-with-a-restful-service-->
<script>
angular.module('admin', ['ngRoute','angular.filter'])

.constant('myauth', {
    user: 'admin',
    passord: 'admin'
})

.config(function($httpProvider) {
    //Enable cross domain calls
    $httpProvider.defaults.useXDomain = true;
    $httpProvider.defaults.withCredentials = true;
})

//---------------
// Factory
//---------------

.factory('dataFactory', ['$http', 'myauth', function($http, myauth) {

    var urlBase = 'http://localhost:5000';
    var dataFactory = {};

    /** CURRICULUM **/
    dataFactory.getCurricula= function () {
        return $http.get(urlBase+'/curriculum/');
    };

    dataFactory.getCurriculum= function (curriculum_id) {
        return $http.get(urlBase+'/curriculum/' + curriculum_id + '/');
    };

    dataFactory.setCurriculum = function (json_curriculum) {
      return $http.post(urlBase+'/curriculum/', json_curriculum,
      { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
      );
    };

    dataFactory.updateCurriculum = function (id, json_curriculum) {
      return $http.put(urlBase+'/curriculum/'+id+'/', json_curriculum,
      { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
      );
    };

    dataFactory.deleteCurriculum = function (id) {
        return $http.delete(urlBase + '/curriculum/' + id +'/',
         { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
        );
    };

    /** GROUP **/
    dataFactory.getGroups= function () {
        return $http.get(urlBase+'/group/');
    };
    dataFactory.getGroup = function (group_id) {
        return $http.get(urlBase+'/group/' + group_id + '/');
    };


    dataFactory.setGroup = function (json_group) {
        return $http.post(urlBase+'/group/', json_group,
           { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
          );
    };

    dataFactory.deleteGroup = function (id) {
        return $http.delete(urlBase + '/group/' + id +'/',
           { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
          );
    };
    dataFactory.updateGroup = function (id, json_group) {
        return $http.put(urlBase + '/group/' + id +'/', json_group,
           { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
          );
    };

    /** COURSE **/
    dataFactory.getCourses = function() {
      return $http.get(urlBase + '/course/',
        );
    };

    dataFactory.setCourse = function(json_course) {
      return $http.post(urlBase + '/course/', json_course,
         { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
        );
    };

    dataFactory.updateCourse = function(json_course) {
      return $http.put(urlBase + '/course/', json_course,
         { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
        );
    };

    dataFactory.deleteCourse = function(id) {
      return $http.delete(urlBase + '/course/' + id +'/',
         { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
        );
    };
    
    /** academicyear **/
    dataFactory.getAcademicyear = function () {
        return $http.get(urlBase+'/academicyear/');
    };

    dataFactory.setAcademicyear = function (json_academicyear) {
        return $http.post(urlBase+'/academicyear/', json_academicyear,
           { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
          );
    };

    dataFactory.deleteAcademicyear = function (id) {
        return $http.delete(urlBase + '/academicyear/' + id +'/',
           { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
          );
    };
    dataFactory.updateAcademicyear = function (json_academicyear) {
        return $http.put(urlBase + '/academicyear/', json_academicyear,
           { headers: { 'Authorization':  'Basic ' + btoa(myauth.user + ":" + myauth.passord)}}
          );
    };

    dataFactory.getCurriculumCourses= function(curriculum_id) {
      return $http.get(urlBase + '/curriculum/' + curriculum_id + '/courses/');
    }

    return dataFactory;
}])

//---------------
// Controllers
//---------------

.controller('curriculum', ['$scope', '$routeParams','dataFactory', '$location',
      function ($scope, $routeParams, dataFactory, $location ) {
      $scope.status;
      $scope.curricula = {};
    
      getCurricula();

      function getCurricula() {
          dataFactory.getCurricula()
          .then(function (response) {
              $scope.status = '';
              $scope.curricula = response.data.curricula;

          }, function (error) {
              $scope.status = 'error in getCurricula(): ' + JSON.stringify( error.data );
          });
      };

      $scope.createCurriculum = function() {
        $location.path('/curriculum/create/');
      };

      $scope.viewCurriculum = function(id) {
        $location.path('/curriculum/view/' + id);
      };

      $scope.updateCurriculum = function(id) {
        $location.path('/curriculum/update/' + id);
      };

      $scope.deleteCurriculum = function(id) {
        dataFactory.deleteCurriculum(id)
          .then(function (response) {
              $scope.status = '';
              getCurricula();
          }, function (error) {
              $scope.status = 'error in deleteCurriculum(): ' + JSON.stringify(error.data);
          });
      }
}])
.controller('viewcurriculum', ['$scope','dataFactory', '$routeParams', '$location',
      function ($scope, dataFactory, $routeParams, $location ) {

      $scope.curriculum;
      $scope.curriculumcourses;

      getCurriculum($routeParams.id);
      getCurriculumCourses($routeParams.id);

      function getCurriculum(id) {
        dataFactory.getCurriculum(id)
        .then(function (response) {
                      $scope.status = '';
                      $scope.curriculum = response.data;

                  }, function (error) {
                      $scope.status = 'error in getCurriculum(): ' + JSON.stringify(error.data);
                  });
      };

      function getCurriculumCourses (id) {
        dataFactory.getCurriculumCourses(id)
        .then(function (response) {
                      $scope.status = '';
                      $scope.curriculumcourses = response.data;
                  }, function (error) {
                      $scope.status = 'error in getCurriculumCourses(): ' + JSON.stringify(error.data);
                  });
      };
}])
.controller('createcurriculum', ['$scope','dataFactory', '$location',
      function ($scope, dataFactory, $location ) {

      $scope.groups;
      $scope.checkedgroups = {}; //arrayo of true|false: true if html checkbox is checked, false if unchecked.

      $scope.academicyears;

      getGroups();
      getAcademicyears();

      $scope.curriculum = {
        "title":"", 
        "desc":"", 
        "ac": "",
        "groups": null
      }

      $scope.setCurriculum = function () {
        var selected_groups = [];
        for( var g=0; g < $scope.groups.length; g++) {
            var group =  $scope.groups[g];
            if( $scope.checkedgroups[group.id] &&  $scope.checkedgroups.hasOwnProperty(group.id) ) {
              selected_groups.push(group);
            }
        }
        console.log(JSON.stringify(selected_groups));

        $scope.curriculum.groups = selected_groups;

        dataFactory.setCurriculum($scope.curriculum)
              .then(function (response) {
                  $scope.status = '';  
                  $location.path('/curriculum/view/' + response.data.id );    
              }, function(error) {
                  $scope.status = 'error in setCurriculum(): ' + JSON.stringify(error.data);
              });
      };

      function getGroups() {
        dataFactory.getGroups()
        .then(function (response) {
              $scope.status = '';
              $scope.groups = response.data.groups;
          }, function (error) {
              $scope.status = 'error in getGroups(): ' + JSON.stringify(error.data);
          });
      };

      function  getAcademicyears() {
        dataFactory.getAcademicyear()
        .then(function (response){
            $scope.academicyears = response.data.academicyears;
        }, function (error) {
           $scope.status = 'error in getAcademicyears(): ' + JSON.stringify(error.data);
        });
      };

}])
.controller('updatecurriculum', ['$scope','dataFactory', '$routeParams','$location',
      function ($scope, dataFactory, $routeParams, $location ) {

    
      $scope.groups;
      $scope.checkedgroups = {}; //arrayo of true|false: true if html checkbox is checked, false if unchecked.

      $scope.academicyears;

      getGroups();
      getAcademicyears();

      $scope.curriculum = {
        "title":"", 
        "desc":"", 
        "ac": "",
        "groups": null
      }

      initCurriculum($routeParams.id);

      function initCurriculum(id){
        dataFactory.getCurriculum(id)
        .then(function (response){
            $scope.status = '';
            $scope.curriculum = response.data;
        }, function (error) {
            $scope.status = 'error in initCurriculum(): ' + JSON.stringify(error.data);
        });
      }

      $scope.updateCurriculum = function () {
        var selected_groups = [];
        for( var g=0; g < $scope.groups.length; g++) {
            var group =  $scope.groups[g];
            if( $scope.checkedgroups[group.id] &&  $scope.checkedgroups.hasOwnProperty(group.id) ) {
              selected_groups.push(group);
            }
        }
        console.log(JSON.stringify(selected_groups));

        $scope.curriculum.groups = selected_groups;

        dataFactory.updateCurriculum($routeParams.id, $scope.curriculum)
              .then(function (response) {
                  $scope.status = '';
                  $location.path('/curriculum/view/' + response.data.id );    

              }, function(error) {
                  $scope.status = 'error in updateCurriculum(): ' + JSON.stringify(error.data);
              });
      };

      function getGroups() {
        dataFactory.getGroups()
        .then(function (response) {
              $scope.status = '';
              $scope.groups = response.data.groups;
          }, function (error) {
              $scope.status = 'error in getGroups(): ' + JSON.stringify(error.data);
          });
      };

      function getAcademicyears() {
        dataFactory.getAcademicyear()
        .then(function (response){
            $scope.academicyears = response.data.academicyears;
        }, function (error) {
            $scope.status = 'error in getAcademicyear(): ' + JSON.stringify(error.data);
        });
      };
}])
.controller('group', ['$scope','dataFactory', '$location',
      function ($scope, dataFactory , $location) {

      $scope.status;
      $scope.groups;

      getGroups();

      function getGroups() {
        dataFactory.getGroups()
        .then(function (response) {
              $scope.status = '';
              $scope.groups = response.data.groups;
          }, function (error) {
              $scope.status = 'error in getGroups(): ' + JSON.stringify(error.data);
          })
      };

      $scope.createGroup = function() {
           $location.path('/group/create/');
      };

      $scope.viewGroup = function(id) {
           $location.path('/group/view/' + id);
      };

      $scope.updateGroup = function(id) {
        $location.path('/group/update/' + id);
      };

      $scope.deleteGroup = function(id) {
        dataFactory.deleteGroup(id)
        .then(function (response) {
              $scope.status = '';
              getGroups();
          }, function (error) {
              $scope.status = 'error in deleteGroups(): '  + JSON.stringify(error.data);
          })
      };
}])
.controller('viewgroup', ['$scope', '$routeParams','dataFactory', '$location',
      function ($scope, $routeParams, dataFactory , $location) {

        $scope.group;

        getGroup($routeParams.id);

        function getGroup(id){
          dataFactory.getGroup(id)
          .then(function (response) {
                $scope.status = '';
                $scope.group = response.data;
            }, function (error) {
                $scope.status = 'error in getGroup(): ' + JSON.stringify(error.data);
            });
        }

      $scope.updateGroup = function() {
        $location.path('/group/update/' + $routeParams.id );
      };
      $scope.goHome = function() {
        $location.path('/');
      };
}])
.controller('creategroup', ['$scope','dataFactory', '$location',
      function ($scope, dataFactory , $location) {


        $scope.courses;
        $scope.checkedcourses = {};
        

        getCourses();

        $scope.group = {
          "name": "",
          "n": 0,
          "cfu": 0,
          "courses": null
        };

      function getCourses() {
        dataFactory.getCourses()
        .then(function (response) {
              $scope.status = '';
              $scope.courses = response.data.courses;
          }, function (error) {
             $scope.status = 'error in getCourses(): ' + JSON.stringify(error.data);
          });
      };

      $scope.setGroup = function() {

          var selected_courses = [];
          for( var c=0; c < $scope.courses.length; c++) {
              var course =  $scope.courses[c];
              if( $scope.checkedcourses[course.id] &&  $scope.checkedcourses.hasOwnProperty(course.id) ) {
                selected_courses.push(course);
              }
          }
          console.log( JSON.stringify(selected_courses));

          $scope.group.courses = selected_courses;

          dataFactory.setGroup( $scope.group )
          .then(function (response) {
              $scope.status = '';
              $location.path('/group/view/' + response.data.id );
          }, function(error) {
              $scope.status = 'error in setGroup(): ' +  JSON.stringify(error.data.error);
          });
        };
}])

.controller('updategroup', ['$scope','$routeParams','dataFactory', '$location',
      function ($scope, $routeParams, dataFactory , $location) {


        $scope.courses;
        $scope.checkedcourses = {};
        
        initGroup($routeParams.id);
        getCourses();

        $scope.group = {
          "name": "",
          "n": 0,
          "cfu": 0,
          "courses": null
        };

      function initGroup(id){
        dataFactory.getGroup(id)
        .then(function (response) {
              $scope.status = '';
              $scope.group = response.data;
          }, function (error) {
              $scope.status = 'error in initGroup(): ' + JSON.stringify(error.data);
          });
      }

      function getCourses() {
        dataFactory.getCourses()
        .then(function (response) {
              $scope.status = '';
              $scope.courses = response.data.courses;
          }, function (error) {
              $scope.status = 'error in getCourses(): ' + JSON.stringify(error.data);
          });
      };

      $scope.updateGroup = function() {

          var selected_courses = [];
          for( var c=0; c < $scope.courses.length; c++) {
              var course =  $scope.courses[c];
              if( $scope.checkedcourses[course.id] &&  $scope.checkedcourses.hasOwnProperty(course.id) ) {
                selected_courses.push(course);
              }
          }
          console.log( JSON.stringify(selected_courses));

          $scope.group.courses = selected_courses;

          dataFactory.updateGroup( $routeParams.id, $scope.group )
          .then(function (response) {
              $scope.status = '';
              $location.path('/group/view/' + response.data.id);
          }, function(error) {
              $scope.status = 'error in updategroup(): ' + JSON.stringify(error.data);
          });
        };
}])
.controller('course', ['$scope', '$routeParams','dataFactory', 
      function ($scope, $routeParams, dataFactory ) {
      
      $scope.courses;
      $scope.checkedcourses = {};
      $scope.academicyears = {};


      $scope.course = {
        "id":"",
        "name":"",
        "ac":"",
        "year":0,
        "ssd":"",
        "url":"",
        "semester":0,
        "cfu":0
      }

      $scope.status;

      getCourses();
      getAcademicyears();

      function getAcademicyears() {
        dataFactory.getAcademicyear()
        .then(function (response){
            $scope.academicyears = response.data;
        }, function (error) {
           $scope.status = 'error in getAcademicyears(): ' + JSON.stringify(error.data);
        });
      };

      function getCourses() {
        dataFactory.getCourses()
        .then(function (response) {
              $scope.status = '';
              $scope.courses = response.data;
          }, function (error) {
              $scope.status = 'error in getCourses(): '+ JSON.stringify(error.data);
          });
      };

      $scope.setCourse = function() {

        dataFactory.setCourse($scope.course)
        .then(function (response) {
              $scope.status = '';
              getCourses();
          }, function (error) {
              $scope.status = 'error in setCourse(): '+ JSON.stringify(error.data);
          });
      };

      $scope.updateCourse = function(id) {
        $scope.course.id = id;
        dataFactory.updateCourse($scope.course)
        .then(function (response) {
              $scope.status = '';
              getCourses();
          }, function (error) {
              $scope.status = 'error in updateCourse(): '+ JSON.stringify(error.data);
          });
      };

      $scope.deleteCourse = function(id) {
        dataFactory.deleteCourse(id)
        .then(function (response) {
              $scope.status = '';
              getCourses();
          }, function (error) {
              $scope.status = 'error in deleteCourse(): '+ JSON.stringify(error.data);
         });
      };
}])

.controller('academicyear', ['$scope', '$routeParams','dataFactory', 
      function ($scope, $routeParams, dataFactory ) {
      $scope.status;
      $scope.academicyears = {};

      $scope.academicyear = {
        "id" : "",
        "start":"",
        "end": ""
      };
       
      getAcademicyears();

      function getAcademicyears() {
        dataFactory.getAcademicyear()
        .then(function (response) {
              $scope.status = '';
              $scope.academicyears = response.data.academicyears;
          }, function (error) {
              $scope.status = 'error in getAcademicyears(): '+ JSON.stringify(error.data);
          });
      };

      $scope.setAcademicyear = function() {
        dataFactory.setAcademicyear($scope.academicyear)
        .then(function (response) {
              $scope.status = '';
              getAcademicyears();
          }, function (error) {
              $scope.status ='error in setAcademicyear(): ' + JSON.stringify(error);
          });
      };

      $scope.deleteAcademicyear = function(id) {
        dataFactory.deleteAcademicyear(id)
        .then(function (response) {
              $scope.status = '';
              getAcademicyears();
          }, function (error) {
              $scope.status = 'error in deleteAcademicyear(): ' + JSON.stringify(error.data);
          });
      };

      $scope.updateAcademicyear = function(id) {
        $scope.academicyear.id = id;
        dataFactory.updateAcademicyear($scope.academicyear)
        .then(function (response) {
              $scope.status = '';
              getAcademicyears();
          }, function (error) {
              $scope.status = 'error in updateAcademicyears(): ' + JSON.stringify(error.data);
          });
      };
}])

.controller('home', ['$scope','dataFactory', '$routeParams',
      function ($scope, dataFactory, $routeParams ) {

      $scope.curricula;
      $scope.curriculumcourses;
      $scope.curriculum;

      getCurricula()

      function getCurricula() {
          dataFactory.getCurricula()
          .then(function (response) {
              $scope.status = '';
              $scope.curricula = response.data.curricula;

          }, function (error) {
             $scope.status = 'error in getCurricula(): ' + JSON.stringify(error.data);
          });
      };
      
      $scope.getCurriculumCourses = function () {
        dataFactory.getCurriculumCourses($scope.curriculum)
        .then(function (response) {
                      $scope.status = '';
                      $scope.curriculumcourses = response.data;
                  }, function (error) {
                     $scope.status = 'error in getCurriculumCourses(): ' + JSON.stringify(error.data);
                  });
      };
      
      $scope.configGroup = function(id) {
        $location.path('/group/config/' + id);
      };
      $scope.configCurriculum= function(id) {
        $location.path('/curriculum/config/' + id);
      };

}])
//---------------
// Routes
//---------------
.config(function($routeProvider) {
    $routeProvider
    .when('/', {
      templateUrl: '/home.html',
      controller: 'home'
    })
    .when('/curriculum', {

      templateUrl: '/curriculum.html',
      controller: 'curriculum'
     })
    .when('/curriculum/create', {

      templateUrl: '/createcurriculum.html',
      controller: 'createcurriculum'
     })
    .when('/curriculum/view/:id', {

      templateUrl: '/viewcurriculum.html',
      controller: 'viewcurriculum'
    })
    .when('/curriculum/update/:id', {

      templateUrl: '/updatecurriculum.html',
      controller: 'updatecurriculum'
    })
    .when('/group', {
      templateUrl: '/group.html',
      controller: 'group'
    })
    .when('/group/create', {
      templateUrl: '/creategroup.html',
      controller: 'creategroup'
    })
    .when('/group/view/:id', {
      templateUrl: '/viewgroup.html',
      controller: 'viewgroup'
    })
    .when('/group/update/:id', {
      templateUrl: '/updategroup.html',
      controller: 'updategroup'
    })
    .when('/course', {
      templateUrl: '/course.html',
      controller: 'course'
    })
    .when('/academicyear', {
      templateUrl: '/academicyear.html',
      controller: 'academicyear'
    });
});
</script>

</body>
</html>
